body {
    min-width: 480px;      /* 2x LC width + RC width */
}

#calendar-day-view-container{
    padding-left: 50px;   /* left header width */
}
#calendar-day-view-container .column {
    position: relative;
    float: left;
}
#calendar-day-view-right-header{
    height: 50px;
    width: 100%;
    border-top: 1px solid grey;
    /*border-bottom: 1px double grey;*/
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}
#calendar-day-view-right-header .over{
    border-bottom: 1px dashed grey;
}
#calendar-day-view-right-header .normal{
    border-bottom: 1px double grey;
}
#calendar-day-view-spacer{
    height: 10px;
    width: inherit;
    /*background-color: yellow;*/
    border-bottom: 1px double grey;
    border-top: 1px solid grey;
    position: relative;
    bottom: -57px;
}
#calendar-day-view-left-header{
    height: 50px;
    width: 50px;          /* LC width */
    right: 50px;          /* LC width */
    margin-left: -100%;
}
.calendar-day-view-right-half-hour-block{
    height: 20px;
    width: 100%;
}
.calendar-day-view-right-half-hour-block-regular-border{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    /*background-color: lightyellow;*/
}
.calendar-day-view-right-half-hour-block-over-border{
    border-left: 1px dashed grey;
    border-right: 1px dashed grey;
    /*background-color: lightyellow;*/
}
.calendar-day-view-left-half-hour-block{
    height: 20px;
    width: 50px;          /* LC width */
    right: 50px;          /* LC width */
    margin-left: -100%;
}
.calendar-day-view-bottom-of-the-hour-block-regular-border{
    border-bottom: 1px solid grey;
}
.calendar-day-view-bottom-of-the-hour-block-over-border{
    border-bottom: 1px dashed grey;
}
.calendar-day-view-top-of-the-hour-block-regular-border{
    border-bottom: 1px dotted grey;
}
.calendar-day-view-top-of-the-hour-block-over-border{
    border-bottom: 1px dashed grey;
}
.calendar-day-view-bottom-of-the-hour-label{
    margin-top: -8px;
}
.calendar-day-nav-container{
    display: block;
    background: cornflowerblue;
    width: 100%;
}
.calendar-day-display-event-container{
    display: inline;
    height: 18px;
    width: 45%;
    border-radius: 4px;
    border: 1px solid darkgreen;
    background: darkseagreen;
    opacity:0.5;
    float: left;
    margin-left: 5px;
}