/*.calendar-day-view-container{
    display: block;
    width: 100%;
    height: 100%;
    background: black;
}
.calendar-day-top-of-the-hour-container{
    display: block;
    width: 95%;
    height: 25px;
    border-bottom: 1px dotted #E3E3E3;
    background: white;
    float: right;
}
.calendar-day-bottom-of-the-hour-container{
    display: block;
    width: 95%;
    height: 25px;
    border-bottom:2px solid #E3E3E3;
    background: white;
    float: right;
}
.calendar-day-hour-label-container{
    display: inline-block;
    width: 5%;
    height: 50px;
    background: white;
    float: left;
}
.calendar-day-hour-container{
    display: block;
    width: auto;
    background: white;
}
.calendar-day-view-header-spacer{
    display: inline-block;
    width: 30px;
    height: 50px;
    border-right: 1px solid #E3E3E3;
    float: left;
}
.calendar-day-view-header-container{
    display: block;
    width: inherit;
    height: 50px;
    background: aliceblue;
}
.calendar-day-view-header{
    display: block;
    width: inherit;
    height: 50px;
    background: aliceblue;
    float: left;
    border-right: 1px solid #E3E3E3;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px double #E3E3E3;
}*/

body {
    min-width: 480px;      /* 2x LC width + RC width */
}

#calendar-day-view-container{
    padding-left: 50px;   /* left header width */
}
#calendar-day-view-container .column {
    position: relative;
    float: left;
}
#calendar-day-view-right-header{
    height: 50px;
    width: 100%;
    border-top: 1px solid grey;
    border-bottom: 1px double grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}
#calendar-day-view-left-header{
    height: 50px;
    width: 50px;          /* LC width */
    right: 50px;          /* LC width */
    margin-left: -100%;
}
.calendar-day-view-right-half-hour-block{
    height: 20px;
    width: 100%;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    /*background-color: lightyellow;*/
}
.calendar-day-view-left-half-hour-block{
    height: 20px;
    width: 50px;          /* LC width */
    right: 50px;          /* LC width */
    margin-left: -100%;
}
.calendar-day-view-bottom-of-the-hour-block{
    border-bottom: 1px solid grey;
}
.calendar-day-view-top-of-the-hour-block{
    border-bottom: 1px dotted grey;
}
.calendar-day-view-bottom-of-the-hour-label{
    margin-top: -8px;
}
.calendar-day-nav-container{
    display: block;
    background: cornflowerblue;
    width: 100%;
}
.calendar-day-display-event-container{
    dispay: inline;
    height: 18px;
    width: 125px;
    border-radius: 2px;
    border: 1px solid darkgreen;
    background: darkseagreen;
    opacity:0.5;
    float: left;
    margin-left: 5px;
}

