#calendar-container{
	/*border: 1px solid black;*/
	display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
	/*background: #F0F8FF;*/
}

#calendar-menu-container{
	display: block;
	background: #D2E9FF;
    border: 1px solid #D2E9FF;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.calendar-nav-container{
	display: table;
	width: 100%;
	background: #F0FFFF;
	/*border: 1px solid;*/
    margin: 0px;
    padding: 1px;
}

#calendar-header-container{
	display: table-cell;
    width: 100%;
    /*border: 1px solid;*/
}

.calendar-month-display-info{
    display: block;
    width: 250px;
    height: 19px;
    float: left;
    /*border: 1px solid;*/
}

.calendar-month-nav-bar{
    display: block;
    float: right;
    margin: 0px;
    padding: 0px;
}

#calendar-month-grid-container{
	display: table;
	width: 100%;
	right: 0px;
}

#calendar-week-grid-container{
	display: table;
	width: 100%;
	right: 0px;
}

.calendar-month-nav-container{
	display: table-cell;
	right: 0px;
	text-align: right;
}

.calendar-week-container{
	display: table-row-group;
}

.calendar-week-day-container{
	border: 1px solid #0000FF;
	display: table-cell;
	width: 14%;
}

.calendar-day-container{
    display: table-cell;
	width: 14%;
    text-align: right;
}

.calendar-week-day{
	display:block;
	text-align: center;
	background: #0000FF;
}

.calendar-day-with-no-events{
	/*display: block;*/
	background: #FCFCFC;
}

.calendar-day-with-no-events.over{
    border: 1px dashed #000099;
}

.calendar-day-with-events{
	/*display: block;*/
	background: #EBFBFF;
}

.calendar-day-with-events.over{
    border: 1px dashed #000;
}

.calendar-date{
	display: block;
	text-align: right;
}

.calendar-day-summary{
	display: block;
	padding: 5px;
}

#calendar-event-summary-list-container{
    display: table;
    width: 100%;
}

.calendar-event-summary{
    display: table;
    width: 100%;
}

.calendar-event-startTime{
	display: table-cell;
	width: 20%;
	border: 1px solid #F2F2F2;
	background: #0000FF;
	color: white;
	font-size: 18px;
}

.calendar-event-info{
	display: table-cell;
	width: 100%;
	border: 1px solid #F2F2F2;
	background: white;
}

.calendar-day-selected{
	background: #F0F0F0;
}

.calendar-day-selected.over{
    border: 1px dashed #000;
}

.calendar-day-selected-with-events{
	/*display: block;*/
	background: #C4F3FF;
}

.calendar-day-selected-with-events.over{
    border: 1px dashed #000;
}

.calendar-day-bottom-border{
    border-bottom: 1px solid #E3E3E3;
}
.calendar-day-top-border{
    border-top: 1px solid #E3E3E3;
}
.calendar-day-left-border{
    border-left: 1px solid #E3E3E3;
}
.calendar-day-right-border{
    border-right: 1px solid #E3E3E3;
}