<!--div ng-style="{'height': '20px'}" class="calendar-day-display-event-container">Test 1</div>
<div ng-style="{'height': '40px'}" class="calendar-day-display-event-container">Test 2</div-->
<!--div class="calendar-day-view-right-half-hour-block calendar-day-view-top-of-the-hour-block column">
    <div style="height: 20px" class="calendar-day-display-event-container">Test 1</div>
    <div style="height: 40px" class="calendar-day-display-event-container">Test 2</div>
</div-->
<div id="calendar-day-view-container">
    <div class="calendar-day-nav-container">
        <div class="calendar-month-display-info">{{getSelectedDayDecoratedDisplayName()}}</div>
        <div class="calendar-month-nav-bar"><button ng-click="selectPreviousDay()"><<</button><button ng-click="selectToday()">Today</button><button ng-click="selectNextDay()">>></button></div>
    </div>
    <div id="calendar-day-view-right-header" class="column"></div>
    <div id="calendar-day-view-left-header" class="column"></div>
    <div ng-repeat="dayHour in dayHours">
        <div id="{{dayHour.name}}" class="calendar-day-view-right-half-hour-block calendar-day-view-top-of-the-hour-block column">
            <div ng-repeat="event in findEventsWithStartTime(dayHour.hour, dayHour.minutes)">
                <div id="calendar-day-displayed-event:{{getSelectedDate()}}:{{event.id}}" ng-style="calculateHeight(20, event.start, event.end)" class="calendar-day-display-event-container">{{event.summary}}</div>
            </div>
        </div>
        <div class="calendar-day-view-left-half-hour-block column">
            <div class="calendar-day-view-bottom-of-the-hour-label">{{dayHour.label}}</div>
        </div>
        <div class="calendar-day-view-right-half-hour-block calendar-day-view-bottom-of-the-hour-block column"></div>
        <div class="calendar-day-view-left-half-hour-block column"></div>
    </div>
    <div class="calendar-day-nav-container">
        <div class="calendar-month-display-info">{{getSelectedDayDecoratedDisplayName()}}</div>
        <div class="calendar-month-nav-bar"><button ng-click="selectPreviousDay()"><<</button><button ng-click="selectToday()">Today</button><button ng-click="selectNextDay()">>></button></div>
    </div>
</div>