<!doctype html>
<html ng-app>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Calender GUI</title>
    <link rel="stylesheet" href="../../lib/css/web/desktop/calendar-month-view-layout.css">
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="http://code.angularjs.org/1.0.2/angular.js"></script>
    <script src="../../../../main/webapp/js/com.noesiscode.extentions.ObjectExtention.js"></script>
    <script src="../../../../main/webapp/lib/js/ArrayExtention.js"></script>
    <script src="../../../../main/webapp/js/com.noesiscode.extentions.DateExtention.js"></script>
    <script src="../../../../main/webapp/js/com.noesiscode.extentions.StringExtention.js"></script>
    <script src="../../../../main/webapp/lib/js/com.noesiscode.js"></script>
    <script src="../../../../main/webapp/lib/js/com.noesiscode.utils.Utility.js"></script>
    <script src="../../../../main/webapp/lib/js/com.noesiscode.utils.NumberUtility.js"></script>
    <script src="../../../../main/webapp/js/com.noesiscode.utils.converters.date.DateConverter.js"></script>
    <script src="../../../../main/webapp/js/com.noesiscode.exceptions.Errors.js"></script>
    <script src="../../../../main/webapp/js/com.noesiscode.models.Person.js"></script>
    <script src="../../../../main/webapp/lib/js/com.noesiscode.calendar.js"></script>
    <script src="../../../../main/webapp/lib/js/com.noesiscode.calendar.models.exceptions.Errors.js"></script>
    <script src="../../../../main/webapp/js/com.noesiscode.calendar.models.Event.js"></script>
    <script src="../../../../main/webapp/lib/js/com.noesiscode.calendar.CalendarAPI.js"></script>
    <script src="../../../../main/webapp/lib/js/com.noesiscode.calendar.controllers.CalendarController.js"></script>
</head>
<body>
	<div id="calendar-container" ng-controller="CalendarMonthViewController">Container
		<div id="calendar-menu-container">Menu</div>
		<div id="calendar-nav-container">
			<div id="calendar-header-container">{{month.selectedMonthName}} <button ng-click="selectFirstDayOfPreviousMonth()"><<</button> <button ng-click="selectFirstDayOfNextMonth()">>></button></div>
			<div class="calendar-month-nav-container">&nbsp; &nbsp;</div>
		</div>
		<div id="calendar-week-grid-container">
			<div class="calendar-week-container">
				<div class="calendar-week-day-container">
					<div class="calendar-week-day">Sun</div>
				</div>
				<div class="calendar-week-day-container">
					<div class="calendar-week-day">Mon</div>
				</div>
				<div class="calendar-week-day-container">
					<div class="calendar-week-day">Tue</div>
				</div>
				<div class="calendar-week-day-container">
					<div class="calendar-week-day">Wed</div>
				</div>
				<div class="calendar-week-day-container">
					<div class="calendar-week-day">Thu</div>
				</div>
				<div class="calendar-week-day-container">
					<div class="calendar-week-day">Fri</div>
				</div>
				<div class="calendar-week-day-container">
					<div class="calendar-week-day">Sat</div>
				</div>
			</div>
		</div>
		<div id="calendar-month-grid-container">
			<div class="calendar-week-container" ng-repeat="week in weeks">
					<div class="calendar-day-container" ng-repeat="day in week.weekdays">
						<div id="{{day.getId()}}" class="ng-class:getCalendarDayClass(day);" ng-click="selectDay(day.getDate());">
							<div class="calendar-date">{{day.getWeekDate()}}</div>
							<div class="calendar-day-summary"></div>
						</div>
					</div>
			</div>
		</div>
		<div id="calendar-nav-container">
			<div class="calendar-month-nav-container">Today {{month.selectedDateDisplayName}} <button ng-click="selectPreviousDay()"><<</button> <button ng-click="selectNextDay()">>></button></div>
		</div>
		<div id="calendar-event-summary-list-container" ng-repeat="event in todaysEvents">
			<div id="calendar-event-summary">
				<div class="calendar-event-startTime"><center>{{event.getStart() | date:'h:mm'}} {{event.getStart() | date:'a'}}</center></div>
				<div class="calendar-event-info">
					<div class="calendar-event-title">{{event.getSummary()}}</div>
					<div class="calendar-event-location">{{event.getLocation()}}</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
